.signup {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.signup__logo {
    width: 202px; 
    height: 46px;
}

.signup__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.signup__content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.signup h2 {
    font-size: 3rem;
    letter-spacing: .4px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
}

.singup__text {
    text-align: center;
    font-size: 1rem;
    letter-spacing: .2px; 
    line-height: 1.4;
    font-weight: 400;
}

.signup__message,
.signup__button,
.signup__email,
.signup__google,
.signup__apple,
.signup__altenative {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.signup__email,
.signup__button {
    display: block;
    border-radius: 3px; 
}

.signup__email {
    border: 1px solid #bbbabb;
    padding: 10px 12px;
}

.signup__email::placeholder {
    font-size: 1rem;
}

.signup__button {
    background: var(--color-1);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer; 
    font-size: 1.05rem;
    transition: .3s ease;
}

.signup__button:hover {
    background: #711872;
}

.signup__altenative {
    text-align: center;
    border-bottom: 1px solid #bbbabb;
    line-height: .01em;
    margin: 10px 0;
}

.signup__altenative span {
    background: white;
    padding: 0 15px; 
}

.signup__google img, 
.signup__apple img {
    width: 18px;
    height: 18px; 
}

.signup__google,
.signup__apple {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 2px solid #bbbabb;
    border-radius: 5px; 
    padding: 7px; 
    cursor: pointer;
    transition: .3s ease;
}

.signup__google:hover,
.signup__apple:hover {
    box-shadow: 0 0 5px 1px #bbbabb;
}

.signup__google p,
.signup__apple p {
    font-size: 1.05rem;
    letter-spacing: .3px; 
    line-height: 1.4;
    font-weight: 500;
}

.signup__footer {
    display: flex;
    gap: 10px;
}

.signup__message {
    text-align: center;
    font-size: .9rem;
    font-weight: 400;
    letter-spacing: .2px; 
}

.signup__message p:first-child{
    opacity: .7;
}

.signup__message p:nth-child(2) {
    color: var(--color-5);
    cursor: pointer;
    transition: 03s ease;
}

.signup__message p:nth-child(2):hover {
    text-decoration: underline;
}

.signup__footer p {
    font-size: .9rem; 
    letter-spacing: .2px;
    line-height: 1.4;
    font-weight: 300;
    opacity: .8;
    cursor: pointer;
    transition: .3s ease;
}

.signup__footer p:hover {
    color: var(--color-5);
    text-decoration: underline;
}