:root {
    --font-family: 'Avenir LT Std',"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    --color-1: #541554;
    --color-2: #ecb22e;
    --color-3: #f4ede4;
    --color-4: #4285f4;
    --color-5: #1164a3;
}